#navegacion{
  
    background-color: transparent;

}
#colIzqInicio{
  text-align: center;
}


.InputField{
  margin:15px
}


.linkNavegacion{
  color:white;
  margin-left: 10px;
}
.ContainerProducto{
  margin-top: 10px;
  width: 200px;
}

.ContainerPyme{
  
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,27,29,1) 12%, rgba(68,34,27,1) 21%, rgba(255,131,0,1) 34%, rgba(252,132,3,1) 47%, rgba(249,133,6,1) 55%, rgba(246,134,9,1) 63%, rgba(243,135,12,1) 80%, rgba(197,150,58,1) 100%, rgba(0,212,255,1) 100%);
  
  padding:20px;
  
}
.ContainerPymeBotones{
  text-align: center;
}

.ContainerPymeBotonesBoton{
  margin:10px
}



.ContainerCarrito{
  background-color: white;
  padding: 10px;
  border-style:solid;
  border-color: black;
  border-radius: 25px;

}


.ContainerMainBotones{
  padding:10px;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(68, 68, 68);
  border-style: solid;
  transition: transform 1s; /* Animation */
  border-radius: 10px;
  border-color: black;
}

.ContainerMainBotones:hover{
  
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  
}



.BtnPrincipal{
  background-color: grey;
  border-color: black;
  margin-bottom: 5px;
}

.ImgPerfilChasqui{
  border-radius: 10px;
  transition: 1s;
  width:100%;
  height:auto;
  
}.ImgPerfilChasqui:hover{
  transform: scale(1.1); 

}





#fontTitulo{
  font-family: Brush Script MT;
}


.principal{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,27,29,1) 12%, rgba(68,34,27,1) 21%, rgba(255,131,0,1) 34%, rgba(252,132,3,1) 47%, rgba(249,133,6,1) 55%, rgba(246,134,9,1) 63%, rgba(243,135,12,1) 80%, rgba(197,150,58,1) 100%, rgba(0,212,255,1) 100%);
  padding-top: 30px;
  padding-bottom: 30px;
}

.caracteristicaPerfil{
  background-color: rgb(209, 209, 209);
  border-style: solid;
  border-color: black;
  margin: 5px;
  text-align: justify;
}


.titulo{
  text-align: center;
}


.BtnActualizarDatos{
  margin-top: 10px;
}


.divContainerDatosPersonales{
  margin: 10px;
  margin-left: 0px;
  border-style: double;
  border-color:black;
  text-align: center;
}

.DivContainerPymesCercanas{
  margin: 10px;
  margin-right: 0px;
  border-style: double;
  border-color:black;
  text-align: center;
}

.ContainerModalDashboardPyme{
  text-align: justify;
}

.DivCircular{
  border-radius:50%;
  background-color:orange;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: transform 1s;
}
.DivCircular:hover{
  transform: scale(1.1); 

}
