.principal{
  background-color: blanchedalmond;
  padding-top: 30px;
  padding-bottom: 30px;

}

.caracteristicaPerfil{
  background-color: rgb(209, 209, 209);
  border-style: solid;
  border-color: black;
  margin: 5px;
  text-align: justify;
}


.titulo{
  text-align: center;
}


.BtnActualizarDatos{
  margin-top: 10px;
}


.divContainerDatosPersonales{
  margin: 10px;
  margin-left: 0px;
  border-style: double;
  border-color:black;
  text-align: center;
}

.DivContainerPymesCercanas{
  margin: 10px;
  margin-right: 0px;
  border-style: double;
  border-color:black;
  text-align: center;
}

.ContainerModalDashboardPyme{
  text-align: justify;
}

.DivCircular{
  border-radius:50%;
  background-color:orange;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
